{% extends 'base.html' %}
{% block title %}
Available Treks
{% endblock %}
{% block content %}
<h1>Treks Page</h1>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Duration</th>
                <th>Difficulty</th>
                <th>Slots</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trek in treks %}
        <tr>
            <td>{{ trek.id }}</td>
            <td>{{ trek.name }}</td>
            <td>{{ trek.location }}</td>
            <td> {{ trek.duration }}</td>
            <td>{{ trek.difficulty }}</td>
            <td>
                {{ trek.available_slots }}/{{ trek.total_slots }}
            </td>
            <td>{{ trek.status }}</td>
            <td>
                <button
                    class="btn btn-info btn-sm"
                    data-toggle="modal"
                    data-target="#infoModal{{ trek.id }}">
                    Details
                </button>
                {% if trek.available_slots > 0 and trek.status == 'Open' %}
                <form method="POST"
                      action="{{ url_for('book_trek',
                                         trek_id=trek.id) }}"
                      style="display:inline;">
                    <button class="btn btn-success btn-sm">Book</button>
                </form>
                {% else %}
                    <button class="btn btn-secondary btn-sm" disabled>Full</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
